<header>
  <div class="container">
    <a routerLink="/">
  <img src="assets/degusta.png" alt="Degusta Logo" class="logo-img" />
</a>

  
    <nav>
      <ul *ngIf="!isAuthenticated(); else loggedIn">
  
        <li><a routerLink="/login">Iniciar Sesión</a></li>
        <li><a routerLink="/register">Registrarse</a></li>
      </ul>

      <ng-template #loggedIn>
        <div class="user-trigger" (click)="toggleSidebar()">
          <i class="fas fa-user-circle"></i>
          <span>{{ userName() }}</span>
        </div>
      </ng-template>
    </nav>
  </div>

  <div class="sidebar" [class.open]="sidebarOpen">
    <button class="close-btn" (click)="toggleSidebar()">×</button>

    <div class="profile-section">
      <i class="fas fa-user-circle profile-icon"></i>
      <h2>{{ userName() }}</h2>
    </div>

    <ul class="menu-list">
      <li (click)="irAlPerfil(); cerrarSidebar()">
        <i class="fas fa-id-badge"></i> Mi perfil
      </li>

      <li *ngIf="puedeRegistrarRestaurante()" (click)="navegarACrearRestaurante(); cerrarSidebar()">
        <i class="fas fa-utensils"></i> Registrar Restaurante
      </li>

      <li (click)="logout(); cerrarSidebar()">
        <i class="fas fa-sign-out-alt"></i> Cerrar sesión
      </li>
    </ul>
  </div>

  <div class="overlay" *ngIf="sidebarOpen" (click)="cerrarSidebar()"></div>
</header>
